{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">	
	<link href="../static/css/bootstrap.css" rel="stylesheet" >
    <title>註冊</title>
</head>

{% include 'header.html' %}
<body >
    <div >   
	<br>	<br>	<br> <br>	<br>	<br> <br>
          <div class="ui stackable centered column grid">
            <div class="centered row">
              <div class="six wide column">
                <div style="padding-bottom: 5em; background-color: rgba(245, 245, 245,0.5);" class="ui segment">
                  <form action="/regist/" method="POST" class="ui form">
                    {% csrf_token %}
                    <h3 style="color: red;">{{ msg }}</h3>
                    <div class="field">
                      <label for="username">UserName：</label>
                      <input type="text" name="username" id="">
                    </div>
                    <div class="field">
                      <label for="password">Password：</label>
                      <input type="password" name="password" id="">
                    </div>
                    <div class="field">
                      <label for="password2">Repeat Password：</label>
                      <input type="password" name="password2" id="">
                    </div>
                    <input style="float: right;" class="ui inverted green button" type="submit" value="註冊">
                  </form>
                </div>  
              </div>
            </div>
          </div>
       
    </div>
</body>

</html>